# Ignore dev-only files
docker/dev
docker-compose.dev.yml

# Ignore build artifacts
**/bin
**/obj
**/out
**/publish
**/dist

# Ignore node_modules everywhere
**/node_modules

# Ignore local env
frontend/.env*
backend/.env*

# Ignore git + editor junk
.git/
.vscode
.idea
.DS_Store
