root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4

# Use a simple, non-XML header format
file_header_template = Copyright (c) 2026 Brad Reimer. All rights reserved.

# Disable XML header validation rules
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1634.severity = none
dotnet_diagnostic.SA1635.severity = none
dotnet_diagnostic.SA1636.severity = none
dotnet_diagnostic.SA1637.severity = none
dotnet_diagnostic.SA1638.severity = none

[*.ts]
indent_size = 2

[*.json]
indent_size = 2
